# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# media-folder
public/enes-website
public/video
/dist/_next/static/chunks
/dist/_next/static
/dist
 
public/images/3m-wrap.png
public/images/3m-wrap.webp
public/images/audi-s3-hexis-blue.jpeg
public/images/audi-s3-hexis-blue.webp
public/images/avery-logo.png
public/images/avery-logo.webp
public/images/brabus1.png
public/images/brabus1.webp
public/images/brabus2.png
public/images/brabus2.webp
public/images/brabus900-rocket-r.jpg
public/images/brabus900-rocket-r.webp
public/images/carwrapping.jpg
public/images/carwrapping.webp
public/images/chrome-delete.jpg
public/images/chrome-delete.webp
public/images/detailwrapping.png
public/images/detailwrapping.webp
public/images/DHL-logo.jpg
public/images/DHL-logo.webp
public/images/Exoticshine_Tekengebied-1_Tekengebied-1-2-1.png
public/images/Exoticshine_Tekengebied-1_Tekengebied-1-2-1.webp
public/images/gordelkleur-vervangen.jpg
public/images/gordelkleur-vervangen.webp
public/images/hero-background.jpg
public/images/hero-background.webp
public/images/icon.jpg
public/images/icon.webp
public/images/images.png
public/images/images.webp
public/images/lambo.jpg
public/images/lambo.webp
public/images/lamborghini-huracan.jpg
public/images/lamborghini-huracan.webp
public/images/lamborghini-urus-groen.jpg
public/images/lamborghini-urus-groen.webp
public/images/lamborghini-urus.jpg
public/images/lamborghini-urus.webp
public/images/lampen-tinten.png
public/images/lampen-tinten.webp
public/images/logo-1.png
public/images/logo-1.webp
public/images/logo.png
public/images/Motorhuis-opel.jpeg
public/images/Motorhuis-opel.webp
public/images/poetsen-glascoating.jpeg
public/images/poetsen-glascoating.webp
public/images/range-rover-sport-nardo-grijs.jpg
public/images/range-rover-sport-nardo-grijs.webp
public/images/reclamebelettering.png
public/images/reclamebelettering.webp
public/images/scooter-motorwrapping.png
public/images/scooter-motorwrapping.webp
public/images/seventy_six-blackbananas.png
public/images/seventy_six-blackbananas.webp
public/images/sterrenhemel.png
public/images/sterrenhemel.webp
public/images/velgen-remklauwen-spuiten.png
public/images/velgen-remklauwen-spuiten.webp
public/images/velgenbescherming.jpg
public/images/velgenbescherming.webp
public/images/Wittebrug.jpg
public/images/Wittebrug.webp
public/images/wrapfolie-verwijderen.png
public/images/wrapfolie-verwijderen.webp
public/images/xpel-logo.jpg
public/images/xpel-logo.webp
public/logo.png
public/logo.webp
public/logos/handtekening-wit.png
public/logos/handtekening-wit.webp
public/logos/handtekening-zwart.png
public/logos/handtekening-zwart.webp
public/logos/logo-wit.png
public/logos/logo-wit.webp
public/logos/logo-zwart.png
public/logos/logo-zwart.webp
public/uploads/Afbeelding van WhatsApp op 2025-01-14 om 17.19.06_1133a045.jpg
public/uploads/Afbeelding van WhatsApp op 2025-01-14 om 17.19.06_1133a045.webp
public/wallpapers/BlndrAgency_ (1 of 1)-2.jpg
public/wallpapers/BlndrAgency_ (1 of 1)-2.webp
public/wallpapers/BlndrAgency_ (16 of 34).jpg
public/wallpapers/BlndrAgency_ (16 of 34).webp
public/wallpapers/BlndrAgency_ (2 of 34).jpg
public/wallpapers/BlndrAgency_ (2 of 34).webp
public/wallpapers/BlndrAgency_ (25 of 34).jpg
public/wallpapers/BlndrAgency_ (25 of 34).webp
public/wallpapers/BlndrAgency_Wrapmaster_URUS (9 of 14).jpg
public/wallpapers/BlndrAgency_Wrapmaster_URUS (9 of 14).webp
public/wallpapers/Brabus g800 Nardo grey  (12 of 24).jpg
public/wallpapers/Brabus g800 Nardo grey  (12 of 24).webp
public/wallpapers/Brabus g800 Nardo grey  (23 of 24).jpg
public/wallpapers/Brabus g800 Nardo grey  (23 of 24).webp
public/wallpapers/Brabus g800 Nardo grey  (9 of 24).jpg
public/wallpapers/Brabus g800 Nardo grey  (9 of 24).webp
public/wallpapers/Maasvlakte-1.jpg
public/wallpapers/Maasvlakte-1.webp
public/wallpapers/Maasvlakte-10.jpg
public/wallpapers/Maasvlakte-10.webp
public/wallpapers/Maasvlakte-100.jpg
public/wallpapers/Maasvlakte-100.webp
public/wallpapers/Maasvlakte-11.jpg
public/wallpapers/Maasvlakte-11.webp
public/wallpapers/Maasvlakte-12.jpg
public/wallpapers/Maasvlakte-12.webp
public/wallpapers/Maasvlakte-14.jpg
public/wallpapers/Maasvlakte-14.webp
public/wallpapers/Maasvlakte-18.jpg
public/wallpapers/Maasvlakte-18.webp
public/wallpapers/Maasvlakte-19.jpg
public/wallpapers/Maasvlakte-19.webp
public/wallpapers/Maasvlakte-199.jpg
public/wallpapers/Maasvlakte-199.webp
public/wallpapers/Maasvlakte-20.jpg
public/wallpapers/Maasvlakte-20.webp
public/wallpapers/Maasvlakte-21.jpg
public/wallpapers/Maasvlakte-21.webp
public/wallpapers/Maasvlakte-22.jpg
public/wallpapers/Maasvlakte-22.webp
public/wallpapers/Maasvlakte-7.jpg
public/wallpapers/Maasvlakte-7.webp
public/wallpapers/Maasvlakte-8.jpg
public/wallpapers/Maasvlakte-8.webp
public/wallpapers/Maasvlakte-9.jpg
public/wallpapers/Maasvlakte-9.webp
public/wallpapers/Mercedez-Benz AMG GT63_DONE_ (1 of 41).jpg
public/wallpapers/Mercedez-Benz AMG GT63_DONE_ (1 of 41).webp
public/wallpapers/Mercedez-Benz AMG GT63_DONE_ (31 of 41).jpg
public/wallpapers/Mercedez-Benz AMG GT63_DONE_ (31 of 41).webp
public/wallpapers/RS6-11.jpg
public/wallpapers/RS6-11.webp
public/wallpapers/RS6-3.jpg
public/wallpapers/RS6-3.webp
public/wallpapers/RSQ3-20.jpg
public/wallpapers/RSQ3-20.webp
public/wallpapers/RSQ3-29.jpg
public/wallpapers/RSQ3-29.webp
